@{
  ViewBag.Title = "Family Info - Continue Creating Your Biodata Online And Register As A Bride Or A Groom";
}

@section css{
  @Styles.Render("~/plugins/bootstrap-select-1.10.0/css/bootstrap-select.min.css")
}

<!-- Start Nav Backed Header -->
<div class="nav-backed-header parallax" style="background-image:url(@Url.Content("~/images/page_headers/biodata_page_header.jpg"));">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>@Html.ActionLink("Home", "Index", "Home", null, new { style = "color: #3E2300;" })</li>
          <li class="active" style="color: #BA6E0B">Matrimonial</li>
          <li class="active" style="color: #BA6E0B">Create Biodata</li>
          <li class="active" style="color: #BA6E0B">Family Info</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Nav Backed Header -->
<!-- Start Page Header -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-xs-8">
        <h1 style="color: #EDA159">Add Family Info</h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Header -->
<!-- Start Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <header class="single-post-header clearfix">
            <h3 class="post-title" style="color: #eea546;">Continue By Adding Your Family Info</h3>
          </header>
          <div class="post-content">
            <div class="row">
              <div class="col-md-12 margin-15">
                <div>
                  <h6>All fields marked with <span class="red">*</span> are compulsory. Please fill in the required details and continue to register yourselves as a bride or a groom.</h6>
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-12">
                <div id="message" class="alert alert-error fade in hide">
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-12 margin-10">
                <h4 class="post-title"> Family Info </h4>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="father-name" class="control-label thin-label required">Father's Name: <span class="red">*</span></label>
                  <input type="text" id="father-name" name="father-name" class="form-control input-sm" />
                  <div id="father-name-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="father-mobile-no" class="control-label thin-label">Father's Mobile Number:</label>
                  <input type="text" id="father-mobile-no" name="father-mobile-no" class="form-control input-sm" />
                  <div id="father-mobile-no-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="grandfather-name" class="control-label thin-label required">Grandfather's Name: <span class="red">*</span></label>
                  <input type="text" id="grandfather-name" name="grandfather-name" class="form-control input-sm" />
                  <div id="grandfather-name-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="mother-name" class="control-label thin-label required">Mother's Name: <span class="red">*</span></label>
                  <input type="text" id="mother-name" name="mother-name" class="form-control input-sm" />
                  <div id="mother-name-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="mother-mobile-no" class="control-label thin-label">Mother's Mobile Number:</label>
                  <input type="text" id="mother-mobile-no" name="mother-mobile-no" class="form-control input-sm" />
                  <div id="mother-mobile-no-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="grandmother-name" class="control-label thin-label">Grandmother's Name:</label>
                  <input type="text" id="grandmother-name" name="grandmother-name" class="form-control input-sm" />
                  <div id="grandmother-name-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="no-of-bros" class="control-label thin-label required">No. Of Brothers: <span class="red">*</span></label>
                      <input type="text" id="no-of-bros" name="no-of-bros" class="form-control input-sm" />
                      <div id="no-of-bros-error" class="text-danger text-justify"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="no-of-sis" class="control-label thin-label required">No. Of Sisters: <span class="red">*</span></label>
                      <input type="text" id="no-of-sis" name="no-of-sis" class="form-control input-sm" />
                      <div id="no-of-sis-error" class="text-danger text-justify"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="family-landline-no" class="control-label thin-label">Landline Number:</label>
                  <input type="text" id="family-landline-no" name="family-landline-no" class="form-control input-sm" />
                  <div id="family-landline-no-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="family-type" class="control-label thin-label required">Family Type: <span class="red">*</span></label>
                  <select id="family-type" name="family-type" class="form-control selectpicker" data-show-tick="true" data-tick-icon="fa fa-check" data-show-menu-arrow="true">
                    <option value="0">Select One</option>
                    <option value="1">Joint</option>
                    <option value="2">Nuclear</option>
                  </select>
                  <div id="family-type-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="family-address" class="control-label thin-label required">Family Address: <span class="red">*</span></label>
                  <textarea id="family-address" name="family-address" class="form-control input-sm"></textarea>
                  <div id="family-address-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="country" class="control-label thin-label required">Country: <span class="red">*</span></label>
                  <select id="country" name="country" class="form-control selectpicker" data-show-tick="true" data-tick-icon="fa fa-check" data-show-menu-arrow="true" data-live-search="true">
                    <option value="">Select One</option>
                  </select>
                  <div id="country-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="state" class="control-label thin-label">State:</label>
                  <select id="state" name="state" class="form-control selectpicker" data-show-tick="true" data-tick-icon="fa fa-check" data-show-menu-arrow="true" data-live-search="true">
                    <option value="">Select One</option>
                  </select>
                  <div id="state-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="city" class="control-label thin-label">City:</label>
                  <select id="city" name="city" class="form-control selectpicker" data-show-tick="true" data-tick-icon="fa fa-check" data-show-menu-arrow="true" data-live-search="true">
                    <option value="">Select One</option>
                  </select>
                  <div id="city-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="family-address-type" class="control-label thin-label required">Family's Residence Status: <span class="red">*</span></label>
                  <select id="family-address-type" name="family-address-type" class="form-control selectpicker" data-show-tick="true" data-tick-icon="fa fa-check" data-show-menu-arrow="true">
                    <option value="0">Select One</option>
                    <option value="1">Owned</option>
                    <option value="2">Family Owned</option>
                    <option value="3">Rented</option>
                    <option value="4">PG</option>
                  </select>
                  <div id="family-address-type-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-12">
                <hr />
              </div>

              <div class="col-md-12 margin-10">
                <h4 class="post-title"> Father's Occupation </h4>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="father-occupation" class="control-label thin-label required">Father's Occupation: <span class="red">*</span></label>
                  <select id="father-occupation" name="father-occupation" class="form-control selectpicker" data-show-tick="true" data-tick-icon="fa fa-check" data-show-menu-arrow="true">
                    <option value="0">Select One</option>
                    <option value="1">Business</option>
                    <option value="2">Profession</option>
                    <option value="3">Service</option>
                    <option value="6">Retired</option>
                    <option value="5">Other</option>
                  </select>
                  <div id="father-occupation-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="father-professional-sector" class="control-label thin-label required">Father's Professional Sector: <span class="red">*</span></label>
                  <select id="father-professional-sector" name="father-professional-sector" class="form-control selectpicker" data-show-tick="true" data-tick-icon="fa fa-check" data-show-menu-arrow="true">
                    <option value="0">Select One</option>
                    <option value="Admin/Secretarial">Admin/Secretarial</option>
                    <option value="Advertising/ Entertainment/ Media">Advertising/ Entertainment/ Media</option>
                    <option value="Agriculture">Agriculture</option>
                    <option value="Architecture & Design">Architecture & Design</option>
                    <option value="Artists, Animators & Web Designers">Artists, Animators & Web Designers</option>
                    <option value="Banking, Insurance & Financial Services">Banking, Insurance & Financial Services</option>
                    <option value="Beauty, Fashion & Jewellery Designers">Beauty, Fashion & Jewellery Designers</option>
                    <option value="Business Owner / Entrepreneur">Business Owner / Entrepreneur</option>
                    <option value="Civil Services / Law Enforcement">Civil Services / Law Enforcement</option>
                    <option value="Construction">Construction</option>
                    <option value="Customer Service/ Call Centre/BPO">Customer Service/ Call Centre/BPO</option>
                    <option value="Defence">Defence</option>
                    <option value="Education/ Training">Education/ Training</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Export/ Import"> Export/ Import</option>
                    <option value="Finance and Accounts">Finance and Accounts</option>
                    <option value="Government Employee">Government Employee</option>
                    <option value="Health Care"> Health Care</option>
                    <option value="Hotels/ Restaurants">Hotels/ Restaurants</option>
                    <option value="Human Resource">Human Resource</option>
                    <option value="IT">IT</option>
                    <option value="Legal">Legal</option>
                    <option value="Loss Prevention Manager">Loss Prevention Manager</option>
                    <option value="Management / Corporate Professionals"> Management / Corporate Professionals</option>
                    <option value="Manufacturing/ Engineering/ R&D">Manufacturing/ Engineering/ R&D</option>
                    <option value="Marketing and Communications">Marketing and Communications</option>
                    <option value="Merchant Navy">Merchant Navy</option>
                    <option value="Non Working">Non Working</option>
                    <option value="Oil & Gas">Oil & Gas</option>
                    <option value="Others">Others</option>
                    <option value="Pharmaceutical/ Biotechnology">Pharmaceutical/ Biotechnology</option>
                    <option value="Purchase/ Logistics/ Supply chain">Purchase/ Logistics/ Supply chain</option>
                    <option value="Real Estate"> Real Estate</option>
                    <option value="Retail Chains">Retail Chains</option>
                    <option value="Sales/ Business Development">Sales/ Business Development</option>
                    <option value="Science">Science</option>
                    <option value="Telecom/ ISP">Telecom/ ISP</option>
                    <option value="Travel/ Airlines">Travel/ Airlines</option>
                  </select>
                  <div id="father-professional-sector-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="father-organization-name" class="control-label thin-label">Father's Organization Name:</label>
                  <input type="text" id="father-organization-name" name="father-organization-name" class="form-control input-sm" />
                  <div id="father-organization-name-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="father-designation" class="control-label thin-label">Father's Designation:</label>
                  <input type="text" id="father-designation" name="father-designation" class="form-control input-sm" />
                  <div id="father-designation-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="father-organization-address" class="control-label thin-label">Father's Organization Address :</label>
                  <textarea id="father-organization-address" name="father-organization-address" class="form-control input-sm"></textarea>
                  <div id="father-organization-address-error" class="text-danger text-justify"></div>
                </div>
                <hr />
              </div>
              <div class="clearfix"></div>

              <div class="col-md-12 margin-10">
                <h4 class="post-title"> Mosal's Info </h4>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="uncle-name" class="control-label thin-label">Uncle's Name:</label>
                  <input type="text" id="uncle-name" name="uncle-name" class="form-control input-sm" />
                  <div id="uncle-name-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="maternal-grandfather-name" class="control-label thin-label required">Maternal Grandfather's Name: <span class="red">*</span></label>
                  <input type="text" id="maternal-grandfather-name" name="maternal-grandfather-name" class="form-control input-sm" />
                  <div id="maternal-grandfather-name-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="maternal-grandmother-name" class="control-label thin-label">Maternal Grandmother's Name:</label>
                  <input type="text" id="maternal-grandmother-name" name="maternal-grandmother-name" class="form-control input-sm" />
                  <div id="maternal-grandmother-name-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="maternal-native" class="control-label thin-label required">Maternal Native: <span class="red">*</span></label>
                  <input type="text" id="maternal-native" name="maternal-native" class="form-control input-sm" />
                  <div id="maternal-native-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="contact-no" class="control-label thin-label">Contact Number:</label>
                  <input type="text" id="contact-no" name="contact-no" class="form-control input-sm" />
                  <div id="contact-no-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="mosal-address" class="control-label thin-label">Mosal Address:</label>
                  <textarea id="mosal-address" name="mosal-address" class="form-control input-sm"></textarea>
                  <div id="mosal-address-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <input id="submit" name="submit" type="submit" class="btn btn-primary btn-lg pull-right" value="Create Biodata" />

                <input id="reset" name="reset" type="reset" class="btn btn-default btn-lg" value="Reset" />
              </div>
              <div class="clearfix"></div>

              <div class="col-md-12">
                <h6>
                  @Html.ActionLink("Click here to go back and manage the existing biodata", "Manage", "Matrimonial", null, new { @class = "pull-right" })
                </h6>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
@section scripts{
  @Scripts.Render("~/plugins/bootstrap-select-1.10.0/js/bootstrap-select.min.js")

  @Scripts.Render("~/Scripts/validations/constants.js")
  @Scripts.Render("~/Scripts/validations/validation.js")
  @Scripts.Render("~/Scripts/validations/matrimonial/addFamilyInfo.js")
}


