@using PagedList;
@using PagedList.Mvc;
@model IPagedList<VGhoghari.Models.EventTO>

@{
  ViewBag.Title = ViewBag.EventType + " Events";
}

<!-- Start Nav Backed Header -->
<div class="nav-backed-header parallax" style="background-image:url(@Url.Content("~/images/page_headers/event_header.jpg"));">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>@Html.ActionLink("Home", "Index", "Home", null, new { style = "color: #3E2300;" })</li>
          <li class="active" style="color: #201e1f;">Events</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Nav Backed Header -->
<!-- Start Page Header -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="color: #201e1f">Events</h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Header -->
<!-- Start Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          @if(Model.Count() > 0) 
            {
            <ul class="grid-holder col-3 events-grid">
              @foreach(var item in Model) {
                <li class="grid-item format-standard">
                  <div class="grid-item-inner">
                    <a href="@Url.Action("Details", "Event", new { code = item.Code, page = Request.QueryString["page"], eventType = Request.QueryString["eventType"] })" class="media-box">
                      @if(string.IsNullOrWhiteSpace(item.BannerImage)) {
                        <img src="http://placehold.it/600x600&amp;text=Banner Image" alt="Banner Image" class="img-responsive" />
                      }
                      else {
                        <img src="@Url.Content("~/AppData/events/" + item.BannerImage)" alt="Banner Image" class="img-responsive" />
                       }

                    </a>
                    <div class="grid-content">
                      <h3>@Html.ActionLink(item.Title, "Details", "Event", new { code = item.Code, page = Request.QueryString["page"], eventType=Request.QueryString["eventType"] }, null)</h3>
                      <p>@Html.Raw(item.ShortDescription)</p>
                    </div>
                    <ul class="info-table">
                      @if(item.EndDate.HasValue && !string.IsNullOrWhiteSpace(item.FormattedEndDate)) {
                        <li><i class="fa fa-calendar"></i> @item.StartDate.ToString("dd-MM-yyyy HH:mm") | @item.EndDate.Value.ToString("dd-MM-yyyy HH:mm")</li>
                      }
                      else {
                        <li><i class="fa fa-calendar"></i> @item.StartDate.ToString("dddd") | @item.StartDate.ToString("dd-MM-yyyy H:mm")</li>
                      }
                      <li><i class="fa fa-map-marker"></i> @item.City @item.State @item.Country</li>
                    </ul>
                  </div>
                </li>
              }
            </ul>
          }
          else {
            <div class="text-align-center">
              <h4> Sorry! We don't have any @ViewBag.EventType Events. Please try again later. </h4>
            </div>
          }
        </div>
        <div class="col-md-12">
          <div class="pull-right">
            @Html.PagedListPager(Model, page => Url.Action("List", "Event", new { page, eventType = Request.QueryString["eventType"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
          </div>
        </div>
      </div>
    </div>
  </div>
</div>