@using PagedList;
@using PagedList.Mvc;
@model IPagedList<VGhoghari.Models.ProjectTO>


@{
  ViewBag.Title = "Manage Projects";
}

<!-- Start Nav Backed Header -->
<div class="nav-backed-header parallax">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>@Html.ActionLink("Home", "Index", "Home")</li>
          <li class="active">Projects</li>
          <li class="active">Manage</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Nav Backed Header -->
<!-- Start Page Header -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-xs-8">
        <h1>Manage Projects</h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Header -->
<!-- Start Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-9 posts-archive causes-archive">
          @if(Model.Count > 0) {
            foreach(var item in Model) {
              <article class="post cause-item">
                <div class="row">
                  <div class="col-md-4 col-sm-4">
                    <a href="@Url.Action("Details", "Project", new { code = item.Code, page = Request.QueryString["page"]})"><img src="@Url.Content("~/AppData/projects/" + item.BannerImage)" alt="" class="img-thumbnail"></a>
                  </div>
                  <div class="col-md-8 col-sm-8">
                    <h3>@Html.ActionLink(item.Title, "Details", "Project", new { code = item.Code, page = Request.QueryString["page"] }, null)</h3>
                    <span class="post-meta meta-data">
                      <span><i class="fa fa-male"></i> @item.ContactPerson</span>
                      <span><i class="fa fa-phone"></i> @item.ContactNumber</span>
                      <span><a href="#"><i class="fa fa-envelope"></i> @item.ContactEmail</a></span>
                    </span>
                    <div class="text-justify">
                      <p> @Html.Raw(item.ShortDescription) </p>
                    </div>
                  </div>
                </div>
              </article>
            }
          }
        </div>
      </div>
    </div>
  </div>
</div>