@{
  ViewBag.Title = "Login To Your Account";
}

<!-- Start Nav Backed Header -->
<div class="nav-backed-header parallax">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>@Html.ActionLink("Home", "Index", "Home")</li>
          <li class="active">User</li>
          <li class="active">Login</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Nav Backed Header -->
<!-- Start Page Header -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-xs-8">
        <h1>User Login</h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Header -->
<!-- Start Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-8">
          <header class="single-post-header clearfix">
            <h2 class="post-title">Login Now!</h2>
          </header>
          <div class="post-content">
            <div class="row">
              <div class="col-md-12 margin-15">
                <div>
                  All fields marked with <span class="red">*</span> are compulsory. Please fill in the required details and login to your account.
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-12">
                <div id="message">
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-6">
                <div class="form-group text-align-left">
                  <label for="username" class="control-label">Username:<span class="red">*</span></label>
                  <input type="text" id="username" name="username" class="form-control input-sm" />
                  <div id="username-error" class="text-danger text-justify"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group text-align-left">
                  <label for="password" class="control-label">Password:<span class="red">*</span></label>
                  <input type="password" id="password" name="password" class="form-control input-sm" />
                  <div id="password-error" class="text-danger text-justify"></div>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="persistent-login" name="persistent-login" /> Keep me logged in.
                  </label>
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-12">
                <input id="submit" name="submit" type="submit" class="btn btn-primary btn-lg pull-right" value="Login now!" />
                <input id="reset" name="reset" type="reset" class="btn btn-default btn-lg" value="Reset" />
              </div>
              <div class="clearfix"></div>

              <div class="col-md-12">
                <h6>
                  @Html.ActionLink("Don't have an account? Click here to register.", "Register", "User", null, new { @class = "pull-right" })
                </h6>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>

        <!-- Start Sidebar -->
        <div class="col-md-3 col-sm-4">
          <div class="widget sidebar-widget">
            <div class="sidebar-widget-title">
              <h3>Advertisement</h3>
            </div>
            <a href="#"><img src="http://placehold.it/300x300&amp;text=Advertise Here" alt="AD"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section scripts{
  @Scripts.Render("~/Scripts/validations/constants.js")
  @Scripts.Render("~/Scripts/validations/validation.js")
  @Scripts.Render("~/Scripts/validations/login.js")
}
