@{
  ViewBag.Title = "Gallery";
}

<!-- Start Nav Backed Header -->
<div class="nav-backed-header parallax" style="background-image:url(http://placehold.it/1280x635&amp;text=IMAGE+PLACEHOLDER);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Gallery</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Nav Backed Header -->
<!-- Start Page Header -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Gallery</h1>
      </div>
    </div>
  </div>
</div>
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="grid-holder col-3 events-grid">
            <li class="grid-item post format-image">
              <div class="grid-item-inner"> <a href="@Url.Content("~/images/banners/logo_banner.jpg")" data-rel="prettyPhoto" class="media-box"> <img src="@Url.Content("~/images/banners/logo_banner.jpg")" alt=""> </a> </div>
            </li>

            <li class="grid-item post format-image">
              <div class="grid-item-inner"> <a href="@Url.Content("~/images/page_headers/about_us.jpg")" data-rel="prettyPhoto" class="media-box"> <img src="@Url.Content("~/images/page_headers/about_us.jpg")" alt=""> </a> </div>
            </li>

            <li class="grid-item post format-image">
              <div class="grid-item-inner"> <a href="@Url.Content("~/images/banners/education_banner.jpg")" data-rel="prettyPhoto" class="media-box"> <img src="@Url.Content("~/images/banners/education_banner.jpg")" alt=""> </a> </div>
            </li>

            <li class="grid-item post format-image">
              <div class="grid-item-inner"> <a href="@Url.Content("~/images/page_headers/contact_us.jpg")" data-rel="prettyPhoto" class="media-box"> <img src="@Url.Content("~/images/page_headers/contact_us.jpg")" alt=""> </a> </div>
            </li>

            <li class="grid-item post format-image">
              <div class="grid-item-inner"> <a href="@Url.Content("~/images/banners/matrimonial_banner.jpg")" data-rel="prettyPhoto" class="media-box"> <img src="@Url.Content("~/images/banners/matrimonial_banner.jpg")" alt=""> </a> </div>
            </li>

            <li class="grid-item post format-image">
              <div class="grid-item-inner"> <a href="@Url.Content("~/images/banners/business_banner.jpg")" data-rel="prettyPhoto" class="media-box"> <img src="@Url.Content("~/images/banners/business_banner.jpg")" alt=""> </a> </div>
            </li>

            <li class="grid-item post format-image">
              <div class="grid-item-inner"> <a href="@Url.Content("~/images/page_headers/donate.jpg")" data-rel="prettyPhoto" class="media-box"> <img src="@Url.Content("~/images/page_headers/donate.jpg")" alt=""> </a> </div>
            </li>

            <li class="grid-item post format-image">
              <div class="grid-item-inner"> <a href="@Url.Content("~/AppData/profile_image/537774_3651417083056_1202929540_n.jpg")" data-rel="prettyPhoto" class="media-box"> <img src="@Url.Content("~/AppData/profile_image/537774_3651417083056_1202929540_n.jpg")" alt=""> </a> </div>
            </li>

            <li class="grid-item post format-image">
              <div class="grid-item-inner"> <a href="@Url.Content("~/AppData/profile_image/f9994ce8-d848-448a-bafb-35776b27c3d7_537774_3651417083056_1202929540_n.jpg")" data-rel="prettyPhoto" class="media-box"> <img src="@Url.Content("~/AppData/profile_image/f9994ce8-d848-448a-bafb-35776b27c3d7_537774_3651417083056_1202929540_n.jpg")" alt=""> </a> </div>
            </li>

            <li class="grid-item post format-image">
              <div class="grid-item-inner"> <a href="@Url.Content("~/AppData/events/17d7bdef-93ba-49ed-b018-8cb6de3a8400.jpg")" data-rel="prettyPhoto" class="media-box"> <img src="@Url.Content("~/AppData/events/17d7bdef-93ba-49ed-b018-8cb6de3a8400.jpg")" alt=""> </a> </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
