@{
  ViewBag.Title = "Home";
}

<!-- Start Hero Slider -->
<div class="hero-slider flexslider clearfix" data-autoplay="yes" data-pagination="yes" data-arrows="yes" data-style="fade" data-pause="yes">
  <ul class="slides">
    <li class="parallax" style="background-image:url(@Url.Content("~/images/banners/logo_banner.jpg"));"></li>
    <li class="parallax" style="background-image:url(@Url.Content("~/images/banners/education_banner_1.jpg"));"></li>
    <li class="parallax" style="background-image:url(@Url.Content("~/images/banners/business_banner.jpg"));"></li>
    <li class="parallax" style="background-image:url(@Url.Content("~/images/banners/matrimonial_banner.jpg"));"></li>
  </ul>
</div>
<!-- End Hero Slider -->
<!-- Start Notice Bar -->
@{
  Html.RenderAction("TopUpcomingEvent", "Event", new { count = 1 });
}
<!-- End Notice Bar -->
<!-- Start Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <!-- Start Featured Blocks -->
        <div class="featured-blocks clearfix">
          <div class="col-md-4 col-sm-4 featured-block">
            <a href="@Url.Action("List", "Event")" class="img-thumbnail">
              <img src="@Url.Content("~/images/banners/feature_block_events.jpg")" alt="staff"> <strong>Our Events</strong> <span class="more">read more</span>
            </a>
          </div>
          <div class="col-md-4 col-sm-4 featured-block">
            <a href="@Url.Action("AllBiodata", "Matrimonial")" class="img-thumbnail">
              <img src="@Url.Content("~/images/banners/feature_block_matrimonial.jpg")" alt="staff"> <strong>Matrimonial</strong> <span class="more">read more</span>
            </a>
          </div>
          <div class="col-md-4 col-sm-4 featured-block">
            <a href="sermons.html" class="img-thumbnail">
              <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="staff"> <strong>Sermons Archive</strong> <span class="more">read more</span>
            </a>
          </div>
        </div>
        <!-- End Featured Blocks -->
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-6">
          @{
            Html.RenderAction("TopThreeUpcomingEvent", "Event", new { count = 3 });
          }

          <div class="spacer-30"></div>


        </div>
        <div class="col-md-4 col-sm-6">
          <div class="listing sermons-listing">
          <header class="listing-header">
            <h3>Recent Sermons</h3>
          </header>
          <section class="listing-cont">
            <ul>
              <li class="item sermon featured-sermon">
                <h4><a href="single-sermon.html">Navkaar Mantra</a></h4>
                <div class="featured-sermon-video">
                  <iframe width="200" height="150" src="https://www.youtube.com/embed/su4UM5GKC6U" frameborder="0" allowfullscreen></iframe>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis consectetur adipiscing elit. Nulla convallis egestas rhoncus</p>
                <div class="sermon-actions"> <a href="https://youtu.be/su4UM5GKC6U" data-placement="top" data-toggle="tooltip" data-original-title="Video" target="_blank"><i class="fa fa-video-camera"></i></a> <a href="https://youtu.be/su4UM5GKC6U" data-placement="top" data-toggle="tooltip" data-original-title="Audio" target="_blank"><i class="fa fa-headphones"></i></a> <a href="#" data-placement="top" data-toggle="tooltip" data-original-title="Read online"><i class="fa fa-file-text-o"></i></a> <a href="#" data-placement="top" data-toggle="tooltip" data-original-title="Download PDF"><i class="fa fa-book"></i></a> </div>
              </li>
            </ul>
          </section>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start Featured Gallery -->
<div class="featured-gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <h4>Updates from our gallery</h4>
        <a href="#" class="btn btn-default btn-lg">More Galleries</a>
      </div>
      <div class="col-md-3 col-sm-3 post format-image"> <a href="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""> </a> </div>
      <div class="col-md-3 col-sm-3 post format-video"> <a href="http://youtu.be/NEFfnbQlGo8" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""> </a> </div>
      <div class="col-md-3 col-sm-3 post format-image"> <a href="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""> </a> </div>
    </div>
  </div>
</div>
<!-- End Featured Gallery --> 
